<!DOCTYPE html>
<html ng-app="eShopCatalogApp">
<head>
    <title>E Shop Catalog</title>
    <link rel="stylesheet" href="css/bootstrap.css">
    <link rel="stylesheet" href="css/main.css">
</head>
<body>
<div class="navbar navbar-inverse">
    <div class="container-fluid">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="#/userList">E-Shop-Catalog</a>
        </div>
    </div>
</div>

<!-- Stack the columns on mobile by making one full-width and the other half-width -->
<div class="row">
  <div class="col-md-4">
      <div class="row" >
          <div class="col-md-2" >
             <!-- left spaces -->
          </div>
          <div class="col-md-8"  ng-controller='MenuCtrl'>
              <div id="auth_menu" ng-show="isUserBean">
		 <input type="button" id="logout" value="Logout" ng-click="logout()" />
                  <br/>
                  <br/>
              </div>
              <div id="about_menu" >
                 <p >
                    <a href="#/about">About</a>
                 </p>
              </div>
              <div id="anonym_menu" ng-hide="isUserBean">
                 <p >
                    <a href="#/login">Login</a>
                 </p>
              </div>
              <div id="admin_menu" ng-show="isAdminRole">
                 <p >
                    <a href="#/userList">User List</a>
                 </p>
              </div>
              <div id="admin_menu" ng-show="isAdminRole">
                 <p >
                    <a href="#/productList">Product List</a>
                 </p>
              </div>
              <div id="admin_menu" ng-show="isAdminRole">
                 <p >
                    <a href="#/orderList">Order List</a>
                 </p>
              </div>
          </div>
      </div>
  </div>
  <div class="col-md-12">
      <div class="container" ng-view=""></div>
  </div>
</div>

<script src="js/jquery.js"></script>
<script src="js/angular.js"></script>
<script src="js/angular-route.js"></script>
<script src="js/angular-cookies.js"></script>
<script src="js/angular-sanitize.js"></script>
<script src="js/angular-resource.js"></script>
<script src="js/checklist-model.js"></script>
<script src="js/md5.js"></script>


<script src="scripts/app.js"></script>

<script src="scripts/srvServerService.js"></script>
<script src="scripts/srvDataService.js"></script>
<script src="scripts/srvSecureService.js"></script>

<script src="scripts/ctlBaseController.js"></script>
<script src="scripts/ctlAboutController.js"></script>
<script src="scripts/ctlLoginControllers.js"></script>
<script src="scripts/ctlUserControllers.js"></script>
<script src="scripts/ctlMenuController.js"></script>
<script src="scripts/ctlProductControllers.js"></script>
<script src="scripts/ctlOrderControllers.js"></script>

</body>
</html>