<h2>About page</h2>
<table class="table table-hover">
    <tr>
        <td>About:</td>
        <td>{{aboutData}}</td>
     </tr>
     <tr>
        <td>Current User:</td>
        <td>{{currentUser}}</td>
     </tr>
     <tr>
        <td>Current Roles:</td>
        <td>{{currentRoles}}</td>
     </tr>
     <tr>
        <td colspan=6>
    		<Errors-Block></Errors-Block>        	
	</td>
     </tr>
</table>
