<div>
<div ng-show=hasAlerts>
    <p>&nbsp;</p>
    <p>
       <div class="list-group" ng-repeat="alert in alerts">
	 <li class="list-group-item list-group-item-danger">{{alert.msg}}</li>
      </div>
    </p>
</div>
<div>