<form class="form-horizontal" role="form" ng-submit="login()">
    <div class="form-group">
       <users-List></users-List>
    </div>
    <div class="form-group">
           <div class="form-group">
           <label for="loginName" class="col-sm-2 control-label">Login</label>
            <div class="col-sm-10">
               <input type="text" class="form-control" id="loginName" placeholder="login" ng-model="user.login">
            </div>
            </div>

        <div class="form-group">
        <label for="password" class="col-sm-2 control-label">Password</label>
        <div class="col-sm-10">
            <input type="password" class="form-control" id="password" placeholder="password" ng-model="user.password">
        </div>
        </div>

    </div>
    <div class="form-group">
        <div class="col-sm-offset-2 col-sm-10">
            <button type="submit" class="btn btn-default">Login</button>
        </div>
    </div>

    <div class="form-group">
        <div class="col-sm-offset-2 col-sm-10">
    		<Errors-Block></Errors-Block>        	
        </div>
    </div>
</form>
