<h2>All Orders
	<a class="btn btn-primary pull-right" href="#/orderCreate">
	    <iclass="icon-plus-sign icon-white"></i> 
		New Order
       </a>
        <span width='30px'/>
</h2>
<table class="table table-hover">
    <tr>
        <th>
            #
        </th>
        <th>
            Order Subject
        </th>
        <th>
            Order Description
        </th>
        <th>
            Edit
        </th>
        <th>
            Delete
        </th>
    </tr>
    <tr ng-repeat="order in orders">
        <td>{{$index+1}} : {{order.id}}</td>
        <td>
            {{order.subject}}
        </td>
        <td>
            {{product.description}}
        </td>
	<td>
		<a ng-click="editOrder(order)" class="btn btn-small btn-primary">Edit</a>
	</td>
        <td>
		<a ng-click="deleteOrder(order,$index)" class="btn btn-small btn-danger">Delete</a>
	</td>
     </tr>
     <tr>
        <td colspan=6>
    		<Errors-Block></Errors-Block>        	
	</td>
     </tr>
</table>