   <div class="form-group">

        <div class="form-group" ng-if='order.id'>
           <label for="id" class="col-sm-2 control-label">Order #id</label>
           <div class="col-sm-10">
              <input type="text" class="form-control" id="id" ng-model="order.id" readonly="true" >
           </div>
        </div>

	<div class="form-group">
        <label for="name" class="col-sm-2 control-label">Order Subject</label>
        <div class="col-sm-10">
            <input type="text" class="form-control" id="name" placeholder="Write Subject" ng-model="order.subject">
        </div>
        </div>

	<div class="form-group">
        <label for="code" class="col-sm-2 control-label">Delivery address</label>
        <div class="col-sm-10">
            <input type="text" class="form-control" id="deliveryAddress" placeholder="Write Delivery Address" ng-model="order.deliveryAddress">
        </div>
        </div>


	<div class="form-group">
        <label for="description" class="col-sm-2 control-label">Order Description</label>
        <div class="col-sm-10">
            <input type="text" class="form-control" id="description" placeholder="Write Description" ng-model="order.description">
        </div>
        </div>

	<div class="form-group">
        <label for="manager" class="col-sm-2 control-label">Order Manager</label>
        <div class="col-sm-10">
	    <select name="manager" id="manager" ng-options="manager.login for manager in managers track by manager.id" ng-model="order.manager"></select>
        </div>
        </div>

	<div class="form-group">
        <label for="customer" class="col-sm-2 control-label">Order Customer</label>
        <div class="col-sm-10">
	    <select name="customer" id="customer" ng-options="customer.login for customer in customers track by customer.id" ng-model="order.customer"></select>
        </div>
        </div>


	<div class="form-group">
		<h2>Products in order<span wid	th='30px'/></h2>
		<table class="table table-hover">
		    <tr>
        		<td></td>
	        	<td>
    			    <select ng-options="product.productName for product in products track by product.id" ng-model="newPosition.product"></select>
			</td>
			<td><input type="number" min="1" ng-model="newPosition.productAmount"></td>
			<td><input type="button" ng-click="editPositionPressed()" class="btn btn-warning" value="{{editPositionValue}}"  ></td>
        		<td></td>
		     </tr>
		    <tr>
        		<th>#</th>
	        	<th>Product id, code, name</th>
			<th>Amount</th>
	        	<th>Edit</th>
	        	<th>Delete</th>
		    </tr>
		    <tr ng-repeat="position in order.positions">
        		<td>{{$index+1}} </td>
	        	<td>{{position.product.id}}, {{position.product.productCode}}, {{position.product.productName}}</td>
			<td>{{position.productAmount}}</td>
			<td><a ng-click="editPosition(position,$index)" class="btn btn-small btn-primary">Edit</a></td>
		        <td><a ng-click="deletePosition(position,$index)" class="btn btn-small btn-danger">Delete</a></td>
		     </tr>
		</table>
	</div>
