   <div class="form-group">

        <div class="form-group" ng-if='product.id'>
           <label for="id" class="col-sm-2 control-label">Product #id</label>
           <div class="col-sm-10">
              <input type="text" class="form-control" id="id" ng-model="product.id" readonly="true" >
           </div>
        </div>

	<div class="form-group">
        <label for="name" class="col-sm-2 control-label">Product Name</label>
        <div class="col-sm-10">
            <input type="text" class="form-control" id="name" placeholder="Write Product Name" ng-model="product.productName">
        </div>
        </div>

	<div class="form-group">
        <label for="code" class="col-sm-2 control-label">Product Code</label>
        <div class="col-sm-10">
            <input type="text" class="form-control" id="code" placeholder="Write Product Code" ng-model="product.productCode">
        </div>
        </div>


	<div class="form-group">
        <label for="description" class="col-sm-2 control-label">Product Description</label>
        <div class="col-sm-10">
            <input type="text" class="form-control" id="description" placeholder="Write Description" ng-model="product.description">
        </div>
        </div>

    </div>
