<h2>All Products
	<a class="btn btn-primary pull-right" href="#/productCreate">
	    <iclass="icon-plus-sign icon-white"></i> 
		New Product
       </a>
        <span width='30px'/>
</h2>
<table class="table table-hover">
    <tr>
        <th>
            #
        </th>
        <th>
            Product Name
        </th>
        <th>
            Product Code
        </th>
        <th>
            Description
        </th>
        <th>
            Edit
        </th>
        <th>
            Delete
        </th>
    </tr>
    <tr ng-repeat="product in products">
        <td>{{$index+1}} : {{product.id}}</td>
        <td>
            {{product.productName}}
        </td>
        <td>
            {{product.productCode}}
        </td>
        <td>
            {{product.description}}
        </td>
	<td>
		<a ng-click="editProduct(product)" class="btn btn-small btn-primary">Edit</a>
	</td>
        <td>
		<a ng-click="deleteProduct(product)" class="btn btn-small btn-danger">Delete</a>
	</td>
     </tr>
     <tr>
        <td colspan=6>
    		<Errors-Block></Errors-Block>        	
	</td>
     </tr>
</table>