<form class="form-horizontal" role="form" ng-submit="createProduct()" name="createProductForm">
   <div class="form-group">
      <label class="col-sm-2 control-label">Create Product</label>
   </div>
   <Product-Fields></Product-Fields>
   <div class="form-group">
        <div class="col-sm-offset-2 col-sm-10">
            <button type="submit" class="btn btn-default">New Product</button>
            <button type="submit" class="btn btn-default" ng-click="doCancel()">Cancel</button>
        </div>
    </div>
    <div class="form-group">
        <div class="col-sm-offset-2 col-sm-10">
    		<Errors-Block></Errors-Block>        	
        </div>
    </div>

</form>