<form class="form-horizontal" role="form" ng-submit="createUser()" name="createUserForm">
   <div class="form-group">
      <label class="col-sm-2 control-label">Create User</label>
   </div>
    <div class="form-group">

	<div class="form-group">
        <label for="login" class="col-sm-2 control-label">User Login</label>
        <div class="col-sm-10">
            <input type="text" class="form-control" id="login" placeholder="Write Login" ng-model="user.login">
        </div>
        </div>

	<div class="form-group">
        <label for="email" class="col-sm-2 control-label">User Email</label>
        <div class="col-sm-10">
            <input type="text" class="form-control" id="email" placeholder="Write Email" ng-model="user.email">
        </div>
        </div>


	<div class="form-group">
        <label for="passwd1" class="col-sm-2 control-label">User Password</label>
        <div class="col-sm-10">
            <input type="password" class="form-control" id="password1" placeholder="password" ng-model="user.password1">
        </div>
        </div>

	<div class="form-group">
        <label for="passwd2" class="col-sm-2 control-label">Repeat User Password</label>
        <div class="col-sm-10">
            <input type="password" class="form-control" id="password2" placeholder="repeat password" ng-model="user.password2">
        </div>
        </div>


	<div class="form-group">
        <label for="firstName" class="col-sm-2 control-label">User First Name</label>
        <div class="col-sm-10">
            <input type="text" class="form-control" id="firstName" placeholder="Write First Name" ng-model="user.firstName">
        </div>
        </div>

	<div class="form-group">
        <label for="lastName" class="col-sm-2 control-label">User Last Name</label>
        <div class="col-sm-10">
            <input type="text" class="form-control" id="lastName" placeholder="Write Last Name" ng-model="user.lastName">
        </div>
        </div>

	<div class="form-group">
        <label for="description" class="col-sm-2 control-label">User Description</label>
        <div class="col-sm-10">
            <input type="text" class="form-control" id="description" placeholder="Write Description" ng-model="user.description">
        </div>
        </div>

	
        <div class="form-group">
        	<label for="Roles" class="col-sm-2 control-label">User Roles</label>
	        <div class="col-sm-10">
	        	<ul class="list-group">
				<label ng-repeat="role in roles">
				  <li class="list-group-item"><input type="checkbox" data-checklist-model="user.roles" data-checklist-value="role"> {{role.roleName}}</li>
				</label>
		        </ul>
        	</div>
        </div>

    </div>
    <div class="form-group">
        <div class="col-sm-offset-2 col-sm-10">
            <button type="submit" class="btn btn-default">New User</button>
            <button type="submit" class="btn btn-default" ng-click="doCancel()">Cancel</button>
        </div>
    </div>
    <div class="form-group">
        <div class="col-sm-offset-2 col-sm-10">
    		<Errors-Block></Errors-Block>        	
        </div>
    </div>

</form>