<h2>All Users
	<a class="btn btn-primary pull-right" href="#/userCreate">
	    <iclass="icon-plus-sign icon-white"></i> 
		New User
       </a>
        <span width='30px'/>
</h2>
<table class="table table-hover">
    <tr>
        <th>
            #
        </th>
        <th>
            User Login
        </th>
        <th>
            User Email
        </th>
        <th>
            Description
        </th>
        <th>
            Edit
        </th>
        <th>
            Delete
        </th>
    </tr>
    <tr ng-repeat="user in users">
        <td>{{$index+1}} : {{user.id}}</td>
        <td>
            {{user.login}}
        </td>
        <td>
            {{user.email}}
        </td>
        <td>
            {{user.description}}
        </td>
	<td>
		<a ng-click="editUser(user)" class="btn btn-small btn-primary">Edit</a>
	</td>
        <td>
		<a ng-click="deleteUser(user)" class="btn btn-small btn-danger">Delete</a>
	</td>
     </tr>
     <tr>
        <td colspan=6>
    		<Errors-Block></Errors-Block>        	
	</td>
     </tr>
</table>