         <div>
            <ul>Help Info : 
                <li>superuser  / qwerty  :  ADMIN, CUSTOMER, MANAGER, GUEST  </li>
                <li>admin      / qwerty  :  ADMIN </li>
                <li>manager1   / qwerty  :  MANAGER </li>
                <li>customer1  / qwerty  :  CUSTOMER </li>
                <li>guest      / qwerty  :  GUEST </li>
            </ul>
         </div>
